ale_py==0.7.5
customtkinter==5.0.3
gym==0.21.0
matplotlib==3.5.2
numpy==1.21.5
opencv_python==4.6.0.66
Pillow==9.3.0
PyQt5==5.15.9
PyQt5_sip==12.11.1
scipy==1.9.1
stable_baselines3==1.7.0
torch==1.13.0
